.footer{
    padding: calc($separacion / 2) 0;  //separacion= 5rem
    background-color: $grisOscuro;
    margin-bottom: 0;
    .contenedor-footer{
        padding-top: calc($separacion / 2);
    }
    .navegacion{ 
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .copyrigth{
        color: $blanco;
        text-align: center;
    }
}